* {
  background-color: black;
  color: purple;
}
@keyframes lineGradation {
  0% {
    border-image-source: linear-gradient(20deg, red, orange, yellow, green, blue, purple);
  }
  20% {
    border-image-source: linear-gradient(20deg, orange, yellow, green, blue, purple, red);
  }
  40% {
    border-image-source: linear-gradient(20deg, yellow, green, blue, purple, red, orange);
  }
  60% {
    border-image-source: linear-gradient(20deg, green, blue, purple, red, orange, yellow);
  }
  80% {
    border-image-source: linear-gradient(20deg, blue, purple, red, orange, yellow, green);
  }
  100% {
    border-image-source: linear-gradient(20deg, purple, red, orange, yellow, green, blue);
  }
}
h1 {
  color: blue;
  text-align: center;
}
#canvas_pos {
  border-color: whitesmoke;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border-width: 3px;
  border-style: solid;
  border-image-slice: 1;
  animation: lineGradation 2s infinite linear;
}